################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Group3_ClinicDB/obj
/.vs
/Group3_ClinicDB/bin/Debug
